@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header{
    margin: auto;
    text-align: center;
    line-height: 20vh;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 400%;
}

.btn-primary{
    font-family: 'Roboto';
}

.aligned {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
   
span {
    font-size: 140%;
    font-weight: bold;
    padding-left: 10%;
}

/* .row {
    display: table;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
} */

